html, body {
    color: #ffe099;
    font-family: Verdana, sans-serif;
    text-align: center;
    background: #00263d;
}

#talpanel {
    display: none;
}

#credits {
    text-align: left;
}
#deets {
    text-align: left;
}

#directions {
    text-align: left;
}

.textpanel,.detailtitle {

    border: 1px solid #cf1f74;
    background: #781645;
}

.detailtitle {
    padding: 5px;
}
#cnv {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

a {
        color: #3bff83;
        text-decoration: none;
}

.regimg {
    border: none;
    width:100%;
}

.textlinks {
    text-align: center;
}

.imgrow {
    text-align:center;
}  

#modellinks {
    position: absolute;
    text-align: right;
    background:none;
    right: 10px;
    top: 10px;
    z-index: 1;
    font-family: Verdana, sans-serif;
    width: 25%;
    left:75%;
}
#infobg {
    --bg-color: #00263d;
}
.infostuff {
    padding: 15px 50px 15px 15px;
    position: absolute;
    text-align: left;
    font-size:1.2em;
    left: 10px;
    top: 5px;
    width: 300px;
    right:75%;
}

#infobox {
    z-index: 2;
    background: none;
}
#infobg{
    opacity:0.5;
    background: var(--bg-color);
    color: var(--bg-color);
    z-index: 1;
}


#infobox {
    --outline-color: rgba(0,0,0,0.1);
}
#infobox {
	text-shadow:
		-1px -1px 0 var(--outline-color),
		1px -1px 0 var(--outline-color),
		-1px 1px 0 var(--outline-color),
		1px 1px 0 var(--outline-color);
}
